# Environments
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints/

# Data
data/processed/

# Models + outputs (will exist soon)
models/

# OS junk
.DS_Store